html,body{
	margin: 0;
	padding: 0;
	background-color: #333;
	color: white;
}

body{
	padding: 2em;
	font-family: 'Montserrat', sans-serif;
}

#modules{
	display: flex;
    justify-content: space-between;
}

.module{
	display: inline-block;
	padding: 0.5em;
}
