#weather{

}

#weather .left{
	display: inline-block;
    width: 50%;
	text-align: right;
}

#weather .right{
	display: inline-block;
    width: 50%;
}
#weather-temp{
	font-size: 2em;
}
#weather-city{
	
}
#weather-icon{
	width: 3em;
	margin-left: 1em;
}


#weather-days{
	display: flex;
	justify-content: space-between;
	margin-top: 1em;
}

.weather-day{
	display: inline-block;
}
.weather-day img{
	width: 1.5em;
}